* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}





body {
    padding: 0;
    margin: 0 auto;
    max-width: 1500px;
}

p {
    margin: 0;
}

li>a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #262626;
    font-size: 12px;
}

.wrapper_first {
    background-image: url(img/bg1.png);
    height: 1000px;
}

.content_size {
    margin: 0 auto;
    width: 1170px;
}

.header__logo {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #262626;
}

.header {
    max-height: 147px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 213px;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.header__nav>ul {
    font-size: 13px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
}

.main__heading {
    color: #262626;
    font-size: 50px;
    font-family: 'Raleway heavy', sans-serif;
}

.main>p {
    font-family: 'Raleway';
    font-weight: 200;
    color: #929293;
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 33px;
}

.main {
    width: 370px;
}

.main__button {
    text-decoration: none;
    width: 200px;
    height: 56px;
    background-color: #ff6033;
    color: #ffdcd6;
    font-family: 'Raleway';
    font-size: 18px;
    padding: 20px 27px;
    box-shadow: 7px 5px 13px 0px rgba(34, 60, 80, 0.27);
}

.main__button:active {
    box-sizing: border-box;
    border: solid 1px #ff6033;
    background-color: #f9f8fb;
    color: #ff6033;
    transition: 0.1s;
}

.nav-manu:hover {
    border-top: #ff6033 solid 2px;
}

.wrapper_second {
    background-image: url(img/bg2.png);
    height: 700px;
}

.content_size__block {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.wrapper_second__sub-text>p {
    color: #ffffff;
    font-family: 'Raleway';
    font-weight: 200;
    line-height: 25px;
    font-size: 15px;
}

.wrapper_second__sub-text>h1 {
    margin: 0;
    font-family: 'Raleway';
    color: #ffffff;
    font-weight: 700;
    font-size: 65px;
}

.form_block {
    background-image: url(img/bg_form.png);
    min-height: 600px;
}

.form_block__contact-menu {
    margin: 0;
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    min-width: 345px;
}

.form_block__contact-menu>h2 {
    margin: 0;
    padding-bottom: 50px;
    font-size: 70px;
}

.form_block__contact-menu>p {
    text-align: center;
    padding-bottom: 50px;
}

.maine-form {
    box-sizing: border-box;
    display: flex;
    padding-left: 150px;
}

.form_block__column-block {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.form_block__column-form {
    padding-bottom: 15px;
}

.column-form__input {
    box-sizing: border-box;
    font-family: 'Raleway';
    padding: 15px 20px;
    font-size: 15px;
    min-height: 50px;
    background-color: rgba(0, 196, 196, 0.3);
    min-width: 500px;
    border: none;
    border-left: solid 3px transparent;
    outline: none;
}

.form_block__column-form[type] {
    font-family: 'Raleway';
}

.column-form__input:hover, .column-form__input:focus {
    border-color: #355b82;
    background-color: #00c4c4;
}

.form_block__form {
    padding-bottom: 120px;
}

textarea.column-form__input {
    min-height: 250px;
    resize: none;
}

::-webkit-input-placeholder {
    color: #d7f2f2;
}

.address {
    box-sizing: border-box;
    font-family: 'Raleway';
    padding-left: 170px;
}

.address__user {
    padding-bottom: 30px;
}

.services {
    box-sizing: border-box;
    background-image: url(img/bg_tomato.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    min-width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.services__list {
    padding-top: 179px;
    padding-bottom: 151px;
}

.services__wrapper {
    padding-bottom: 25px;
}



.services__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    min-height: 100px;
    color: #262626;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.services__btn:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);

}

.services__btn:active {
    background-color: #262626;
    color: #ffffff;
    transition: 0.1s;
}


.services__body {
    text-align: center;
    font-family: 'Raleway';
    flex-grow: 1;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.35;

}

.services__img svg {
    fill: currentColor;

}


.services__img {
    flex-shrink: 0;
    flex-basis: 100px;
    height: 100px;
    padding: 25px;
    border-left: solid 1px #9d9d9d;
    display: flex;
    align-items: center;
    justify-content: center;


}


.bg_hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 264px;
    top: 1880px;
    width: 400px;
    height: 100px;
    z-index: 137;
}

.services__heading {

    font-size: 90px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;

}